<h5>Правила набора</h5>
<div id="rulesAccordion">
<!-- Info Rules 1-->
<div>
	<h2>
		<button data-bs-target="#rulesCollapse1" type="button" data-bs-toggle="collapse">Домофон подъезда (многоабонентская панель)</button>
	</h2>
	<div id="rulesCollapse1" data-bs-parent="#rulesAccordion">
		<div>
			<table>
				<tbody>
					<tr>
						<td><b>RRR</b></td>
						<td>&#10140;</td>
						<td>Вызов абонента, где:<br>
							<table>
								<tbody>
									<tr>
										<th>RRR</th>
										<td>&mdash; код квартиры абонента данного дома.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td><b>000</b></td>
						<td>&#10140;</td>
						<td>Вызов консьержа данного подъезда.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Info Rules 2 -->
<div>
	<h2>
		<button data-bs-target="#rulesCollapse2" type="button" data-bs-toggle="collapse">Консьерж (абонентское устройство)</button>
	</h2>
	<div id="rulesCollapse2" data-bs-parent="#rulesAccordion">
		<div>
			<table>
				<tbody>
					<tr>
						<td><b>RRR</b></td>
						<td>&#10140;</td>
						<td>Вызов абонента, где:<br>
							<table>
								<tbody>
									<tr>
										<th>RRR</th>
										<td>&mdash; код квартиры абонента данного дома.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td><b>SSS</b> <b>BBBB</b> <b>RRR</b></td>
						<td>&#10140;</td>
						<td>Вызов произвольного абонента, где:<br>
							<table>
								<tbody>
									<tr>
										<th>SSS</th>
										<td>&mdash; код улицы абонента,</td>
									</tr>
									<tr>
										<th>BBBB</th>
										<td>&mdash; код дома абонента,</td>
									</tr>
									<tr>
										<th>RRR</th>
										<td>&mdash; код квартиры абонента.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td><b>SSS</b> <b>BBBB</b> <b>RRR</b> <b>T</b> <b>N</b></td>
						<td>&#10140;</td>
						<td>Звонок на произвольное устройство, где:<br>
							<table>
								<tbody>
									<tr>
										<th>SSS</th>
										<td>&mdash; код улицы,</td>
									</tr>
									<tr>
										<th>BBBB</th>
										<td>&mdash; код дома,</td>
									</tr>
									<tr>
										<th>RRR</th>
										<td>&mdash; код квартиры,</td>
									</tr>
									<tr>
										<th>T</th>
										<td>&mdash; код типа устройства,</td>
									</tr>
									<tr>
										<th>N</th>
										<td>&mdash; порядковый номер устройства.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Info Rules 3 -->
<div>
	<h2>
		<button data-bs-target="#rulesCollapse3" type="button" data-bs-toggle="collapse">Домофон калитки (многоабонентская панель)</button>
	</h2>
	<div id="rulesCollapse3" data-bs-parent="#rulesAccordion">
		<div>
			<table>
				<tbody>
					<tr>
						<th colspan="3">Домофон калитки (многоабонентская панель)</th>
					</tr>
					<tr>
						<td><b>BBBB</b> <b>RRR</b></td>
						<td>&#10140;</td>
						<td>Вызов абонента, где:<br>
							<table>
								<tbody>
									<tr>
										<th>BBBB</th>
										<td>&mdash; код дома,</td>
									</tr>
									<tr>
										<th>RRR</th>
										<td>&mdash; код квартиры абонента.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td><b>BBBB</b> <b>PP</b></td>
						<td>&#10140;</td>
						<td>Вызов консьержа, где:<br>
							<table>
								<tbody>
									<tr>
										<th>BBBB</th>
										<td>&mdash; код дома,</td>
									</tr>
									<tr>
										<th>PP</th>
										<td>&mdash; код подъезда консьержа.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Info Rules 4 -->
<div>
	<h2>
		<button data-bs-target="#rulesCollapse4" type="button" data-bs-toggle="collapse">Абонентское устройство (трубка / видеомонитор / вызывная панель)</button>
	</h2>
	<div id="rulesCollapse4" data-bs-parent="#rulesAccordion">
		<div>
			<table>
				<tbody>
					<tr>
						<td><b>RRR</b></td>
						<td>&#10140;</td>
						<td>Вызов абонента, где:<br>
							<table>
								<tbody>
									<tr>
										<th>RRR</th>
										<td>&mdash; код квартиры абонента того же дома.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td><b>000</b></td>
						<td>&#10140;</td>
						<td>Вызов консьержа подъезда абонента.</td>
					</tr>
					<tr>
						<td><b>SSS</b> <b>BBBB</b> <b>RRR</b></td>
						<td>&#10140;</td>
						<td>Вызов произвольного абонента, где:<br>
							<table>
								<tbody>
									<tr>
										<th>SSS</th>
										<td>&mdash; код улицы абонента,</td>
									</tr>
									<tr>
										<th>BBBB</th>
										<td>&mdash; код дома абонента,</td>
									</tr>
									<tr>
										<th>RRR</th>
										<td>&mdash; код квартиры абонента.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Info Rules 5 -->
<div>
	<h2>
		<button data-bs-target="#rulesCollapse5" type="button" data-bs-toggle="collapse">Диспетчер (SIP-клиент)</button>
	</h2>
	<div id="rulesCollapse5" data-bs-parent="#rulesAccordion">
		<div>
			<table>
				<tbody>
					<tr>
						<td><b>SSS</b> <b>BBBB</b> <b>RRR</b></td>
						<td>&#10140;</td>
						<td>Вызов произвольного абонента, где:<br>
							<table>
								<tbody>
									<tr>
										<th>SSS</th>
										<td>&mdash; код улицы абонента,</td>
									</tr>
									<tr>
										<th>BBBB</th>
										<td>&mdash; код дома абонента,</td>
									</tr>
									<tr>
										<th>RRR</th>
										<td>&mdash; код квартиры абонента.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td><b>SSS</b> <b>BBBB</b> <b>RRR</b> <b>T</b> <b>N</b></td>
						<td>&#10140;</td>
						<td>Звонок на произвольное устройство, где:<br>
							<table>
								<tbody>
									<tr>
										<th>SSS</th>
										<td>&mdash; код улицы,</td>
									</tr>
									<tr>
										<th>BBBB</th>
										<td>&mdash; код дома,</td>
									</tr>
									<tr>
										<th>RRR</th>
										<td>&mdash; код квартиры,</td>
									</tr>
									<tr>
										<th>T</th>
										<td>&mdash; код типа устройства,</td>
									</tr>
									<tr>
										<th>N</th>
										<td>&mdash; порядковый номер устройства.</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
