<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Система &laquo;Голос&raquo;</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
      <script src="https://cdn.tailwindcss.com"></script>
      <style type="text/tailwindcss">
        @layer utilities {
            .sidebar-item {
                @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer;
            }
        }

      
      </style>
  </head>
  <body >
	  <div id="toast-container"></div>
		<main class="flex">
        <aside class="shrink-0 top-0 left-0 z-40 w-64 h-screen">
           <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
		    <ul class="space-y-2 font-medium" hx-target="#content" hx-swap="innerHTML">
              <li id="sidebar-info" class="sidebar-item" hx-get="/info" >
                  <span class="ml-3">Информация</span>
              </li>
              <li class="sidebar-item" id="sidebar-devices" hx-get="/devices">
                  <span class="ml-3">Устройства</span>
              </li>
              <li class="sidebar-item" id="sidebar-rooms" hx-get="/rooms">
                  <span class="ml-3">Квартиры</span>
              </li>
              <li class="sidebar-item" id="sidebar-porches" hx-get="/porches">
                  <span class="ml-3">Подъезды</span>
              </li>
              <li class="sidebar-item" id="sidebar-buildings" hx-get="/buildings">
                  <span class="ml-3">Дома</span>
              </li>
              <li class="sidebar-item" id="sidebar-blocks" hx-get="/blocks">
                  <span class="ml-3">Дворы</span>
              </li>
              <li class="sidebar-item" id="sidebar-streets" hx-get="/streets">
                  <span class="ml-3">Улицы</span>
              </li>
              <li class="sidebar-item" id="sidebar-config" hx-get="/config">
                  <span class="ml-3">Конфигурация</span>
              </li>
		    </ul>
		  </div>
        </aside>

			<div id="content">
			</div>
		</main>
  </body>
</html>
